
.DS_Store

# Ignore Resources Folder
/Resources
/Research
.idea/
.ipynb_checkpoints/
__pycache__/
Backup/
india_API_data/
Data_Pipeline/.ipynb_checkpoints/
Data_Pipeline/__pycache__/
Misc./.ipynb_checkpoints/
Misc./.idea/
Misc./__pycache__/
